body {
    padding: 0;
    margin: 0;
    background-color: #555555;
    color: #bbbbbb;
}

button,
input[type="file"]::-webkit-file-upload-button {
    background-color: #444444;
    border: 2px solid #888888;
    border-radius: 4px;
    color: #bbbbbb;
}

input[type="text"] {
    background-color: #000000;
    color: #bbbbbb;
    border: 2px solid #888888;
    border-radius: 4px;
}

a {
    color: #ff8800;
}

.log {
    color: black;
}

.warn {
    color: #999900;
}

.error {
    color: #990000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.half-page {
    width: 600px;
}

#canvas-pane {
    height: 80%;
}

h3,
h4 {
    margin: 2px;
}

.or {
    font-weight: bold;
}

.hidden {
    display: none;
}

#p5-canvas {
    margin: 16px;
}
